# Copy this file to .env.local to modify variables for your local environment only
# More details: https://create-react-app.dev/docs/adding-custom-environment-variables/#adding-development-environment-variables-in-env
BROWSER=none

# You can also override any of the variables defined in .env, for example
REACT_APP_MATRIX_BASE_URL=https://my.matrix.homeserver.local
REACT_APP_MEDIENHAUS_BACKEND_API_ENDPOINT=http://localhost:3001