@charset "UTF-8";

@font-face {
  font-family: "BauPro";
  src: url("../../assets/fonts/BauPro.woff") format("woff2"), url("../../assets/fonts/BauPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BauPro";
  src: url("../../assets/fonts/BauPro-Medium.woff2") format("woff2"), url("../../assets/fonts/BauPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::selection {
  background: #dcf3ff;
  color: black;
}

html {
  height: 100%;
}

/*
body {
  color: black;
  width: 100%;
  min-height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "BauPro";
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
*/

.singleproject > main {
  border-color: var(--color-lo);
  border-radius: unset;
  border-style: solid;
  border-width: calc(var(--margin) * 0.2);
  padding: calc(var(--margin) * 1);
}

.singleproject h1 {
  font-family: "BauPro";
  font-weight: 500;
  font-size: 48px;
}

.singleproject h2 {
  font-family: "BauPro";
  font-weight: 500;
  font-size: 34px;
}

.singleproject h3 {
  font-family: "BauPro";
  font-weight: 500;
  font-size: 20px;
}

.singleproject p {
  font-family: "BauPro";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.singleproject ul {
  list-style-position: outside;
  list-style-type: "–  ";
  padding: 0;
  padding-left: 22px;
}

.singleproject ol {
  list-style-position: outside;
  padding: 0;
  padding-left: 25px;
}

.tagbubble span {
  display: inline-block;
  background: black;
  height: 26px;
  border-radius: 60px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 26px;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

/** HEADER **/
header .topline {
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
  /*border-bottom: 1px solid $grey;*/
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 900;
}

header .topline h1 {
  font-size: 20px;
  font-weight: 500;
}

/** SINGLE PROJECT VIEW **/
.singleproject h1.projecttitle {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 35px;
  letter-spacing: -0.5px;
}

.singleproject .projectclose {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 21px;
  top: 85px;
  cursor: pointer;
}

.singleproject .projectclose img {
  width: 100%;
  margin: 0;
}

/*
.singleproject .students.tagbubble {
  margin-bottom: 40px;
}
*/

.singleproject .projectmain {
  /*
  width: 50%;
  */
  position: relative;
  /*
  padding-top: 95px;
  padding-bottom: 60px;
  */
  box-sizing: border-box;
  margin: 0 auto;
}

.singleproject .projectmain .thumb img {
  margin-top: 0;
}

.singleproject .projectmain img {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.singleproject .projectmain h2 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 60px;
  line-height: 35px;
  letter-spacing: -0.5px;
}

.singleproject .projectmain .thumb + h2 {
  margin-top: 10px;
}

.singleproject .projectmain blockquote {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}

.singleproject .projectmain blockquote:before {
  content: open-quote;
}

.singleproject .projectmain blockquote:after {
  content: close-quote;
}

.singleproject .projectmain div.code {
  background-color: black;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 25px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 18px;
  font-family: "Lucida Console", Monaco, monospace;
}
.singleproject .projectmain .bbb {
  margin-top: 40px;
  margin-bottom: 40px;
}
.singleproject .projectmain .bbb .bbblink {
  display: inline-block;
  margin-top: 10px;
  background: #63BDFF;
  height: 26px;
  border-radius: 60px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 26px;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}
.singleproject .projectmain div.video {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.singleproject .projectmain div.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.singleproject .projectmain div.audio {
  box-shadow: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.singleproject .projectmain div.audio .slider .gap-progress .pin {
  background-color: black;
}
.singleproject .projectmain div.audio .volume__button svg path,
.singleproject .projectmain div.audio .play-pause-btn svg path {
  fill: black !important;
}
.singleproject .projectmain div.audio .slider .gap-progress {
  background-color: #63bdff;
}

.singleproject .info {
  /*
  width: 50%;
  */
  position: relative;
  /*
  padding-bottom: 100px;
  */
  box-sizing: border-box;
  margin: 0 auto;
}

.singleproject .info div.label {
  margin-bottom: 8px;
  margin-top: 20px;
}

/** RESPONSIVE STYLES **/
/*
@media only screen and (min-width: 1600px) {
  .singleproject .info,
  .singleproject .projectmain {
    max-width: 900px;
  }
}
*/

@media only screen and (max-width: 1400px) {
  /*
  .singleproject .info,
  .singleproject .projectmain {
    width: 65%;
  }
  */
  header .topline {
    background-color: white;
  }
}

/*
@media only screen and (max-width: 1300px) {
  .singleproject .info,
  .singleproject .projectmain {
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .singleproject .info,
  .singleproject .projectmain {
    width: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  .singleproject .info,
  .singleproject .projectmain {
    width: 85%;
  }
}
*/

@media only screen and (max-width: 800px) {
  /*
  .singleproject .info,
  .singleproject .projectmain {
    position: relative;
    width: 100%;
  }
  */
  .singleproject .projectclose {
    top: 0px;
  }
}
